.caja-header {
  background-color: #470A20;
}
.mutual {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  color: white;
}
.mutual img{
  width: 80px;
  height: 80px;
}

  .mutual span {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2px;
    color: white;
  }

.copa {
  margin-top: 10px;
  margin-left: 36%;
  margin-right: 0%;
  display: inline-block;
  width: 120px;
  
}

  .copa img {
    width: 100px;
    height: 100px;
  }

.sindicato {
  float: right;
  vertical-align: top;
  display: inline-block;
  width: 120px;
  text-align:center;
}
  .sindicato span {
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 2px;
    color: white;
  }
  .sindicato img {
    width: 80px;
    height: 80px;
  }

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}

@media(max-width:600px) {
  .copa {
    display: none;
  }

}
