.group {
  width: 240px;
  min-height: 30px;
  background-color: #ede8e9;
  color: #fff;
  font-family: suecaslabmedium, georgia;
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  border-radius: 4px;
}

.name {
  width: 72%;
  padding-left: 0;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #4b1522;
  font-size: 19px;
  display: inline-block;
  padding-bottom: 10px;
  font-weight:bold;
}
.position {
  width: 27%;
  display: inline-block;
  color: #4b1522;
  text-align: center;
  position: relative;
  font-weight:bold;
}

div.position:after {
  content: '';
  width: 1px;
  height: 150px;
  background-color: #ede8e9;
  position: absolute;
  top: 0;
  left: 45%;
  border-right: 1px dotted #4b1522;
  font-weight: bold;
}

.number {
  display: inline-block;
  margin: 0 10%;
  font-size: 18px;
}

.head {
  color: #4b152280;
  font-family: suecaslabbold,georgia;
  margin-bottom: 5px;
}

.country {
  width: 100%;
  position: relative;
  border-top: 1px dotted #4b152230;
}

.name {
  width: calc(66% - 30px);
  display: inline-block;
  padding: 8px 0 8px 40px;
  color: #4b1522;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: -.02rem;
  font-weight:bold;
}

.radio1 {
  margin-right: 6px;
}
